<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container justify-content-between">
        <div class="row row-cols-4 row-cols-md-auto g-4">
            <!--                <div class="col">-->
            <!--                    <a class="nav-link nav-bar category" href="/local" data-set="vacation">-->
            <!--                        <i class="fa-solid fa-location-dot"></i>-->
            <!--                        <span class="ms-2">지역</span>-->
            <!--                    </a>-->
            <!--                </div>-->
            <div class="col">
                <a class="nav-link nav-bar category" href="/family" data-set="1">
                    <i class="fa-solid fa-people-group"></i>
                    <span class="ms-2">가족</span>
                </a>
            </div>
            <div class="col">
                <a class="nav-link nav-bar category" href="/friends" data-set="2">
                    <i class="fa-solid fa-children"></i>
                    <span class="ms-2">친구</span>
                </a>
            </div>
            <div class="col">
                <a class="nav-link nav-bar category" href="/couple" data-set="3">
                    <i class="fa-solid fa-children"></i>
                    <span class="ms-2">연인</span>
                </a>
            </div>
            <div class="col">
                <a class="nav-link nav-bar category" href="/solo" data-set="4">
                    <i class="fa-solid fa-child-reaching"></i>
                    <span class="ms-2">혼자</span>
                </a>
            </div>
            <div class="col">
                <a class="nav-link nav-bar category" href="/culture" data-set="5">
                    <i class="fa-solid fa-landmark"></i>
                    <span class="ms-2">문화</span>
                </a>
            </div>
            <div class="col">
                <a class="nav-link nav-bar category" href="/nature" data-set="6">
                    <i class="fa-solid fa-tree"></i>
                    <span class="ms-2">자연</span>
                </a>
            </div>
            <div class="col">
                <a class="nav-link nav-bar category" href="/vacation" data-set="7">
                    <i class="fa-solid fa-tent"></i>
                    <span class="ms-2">휴양</span>
                </a>
            </div>
            <div class="col">
                <a class="nav-link nav-bar category" href="/etc" data-set="8">
                    <i class="fa-solid fa-tent"></i>
                    <span class="ms-2">기타</span>
                </a>
            </div>
        </div>
    </div>
</nav>